# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml
.idea/
.vscode/

# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
venv/
env/
.env
*.env
*.log

# Django
db.sqlite3
media/
logs/
static/

# Secrets
# Do not commit credentials or private keys
firebase-credentials.json
mfa_project/firebase-credentials.json

# IDE
.idea/
.vscode/
*.swp
*.swo

# Dependencies
node_modules/

# Operating System
.DS_Store
Thumbs.db
*.bak