# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml
.idea/
.vscode/

# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
venv/
.env/
*.env

# Django
*.log
db.sqlite3
media/
logs/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Operating System
.DS_Store
Thumbs.db